img.thumbnail
{
    max-width: 100px;
    max-height: 100px;
}
/*
.highlighted a {
    color:white;
}*/

.events {

}

.event {
    /*width:95%;*/
}

.event h2.title {
    padding-top:10px;
    padding-bottom: 10px;
}

.event .photo {
    width:20%;
    float: left;
}

.event .photo img { max-width: 250px;}
.event .details {
    width: 60%;
    float:right;
    padding-bottom:10px;
}