<!-- WEEBLY_START_CONTENT -->
<div id='weebly_page_content_container'>
  <div class="intro">
    <b>CLOUDHAUS</b> is a non-profit, volunteer group of creative individuals who work together to foster a deeper appreciation of art in Columbus, Ohio and beyond.  We plan,
    sponsor, and participate in community-building events that promote and facilitate the creation of art. Whenever possible, these activities also include humanitarian goals to raise money for specifically targeted local charities.
  </div>
  <hr color="00b1d9" size="3" width="500"/>
  <div class="feature">Look Forward to The Great Columbus Scavenger Hunt coming Oct. 2011</div>

  <div class="events">
    <%= render :partial => "events/event", :collection => @events %>
  </div>


  <div class="social">
<div id="twitter_div">
<h2 class="sidebar-title">Twitter Updates</h2>
<ul id="twitter_update_list"></ul>
<a href="http://twitter.com/cloudhaus" id="twitter-link" style="display:block;text-align:right;">follow me on Twitter</a>
</div>
<script type="text/javascript" src="http://twitter.com/javascripts/blogger.js"></script>
<script type="text/javascript" src="http://twitter.com/statuses/user_timeline/cloudhaus.json?callback=twitterCallback2&amp;count=5"></script>
    <a href="http://www.facebook.com/cloudhausart">
      <img src="/images/facebookwow.png">
    </a>
  </div>

  <div class="footer">
    <img src="/images/hline500.gif" WIDTH="600" HEIGHT="1" BORDER="0"/>
  </div>
</div>
