<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" > 
  <head>
    <title>CLOUDHAUS - Home</title>
    <meta http-equiv='X-UA-Compatible' content='IE=EmulateIE7' />
    <meta name="description" content="CLOUDHAUS Columbus Ohio Community Arts Organization" />
    <meta name="keywords" content="cloudhaus, columbus, ohio, art, arts, independent, art collective, charity, columbus charities, non profit" />
    <meta property='og:site_name' content='CLOUDHAUS' />
    <meta property='og:title' content='Home' />
    <meta property='og:description' content='  Look Forward to The Great Columbus Scavenger Hunt coming Oct. 2011   Our Most Recent Event Was' />
    <meta property='og:image' content='http://cloudhaus.weebly.com/uploads/6/4/9/3/6493793/__5189170.jpg' />
    <meta property='og:url' content='http://cloudhaus.weebly.com/' />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>

    <link rel='stylesheet' type='text/css' href='http://cloudhaus.weebly.com/files/main_style.css' title='weebly-theme-css' />
    <script type='text/javascript'><!--
      var STATIC_BASE = 'http://cdn1.weebly.com/';
      //-->
    </script>
    
    <script type='text/javascript' src='http://cdn1.weebly.com/libraries/scriptaculous/1.9.0-custom/effects.min.js' ></script>
    <script type='text/javascript' src='http://cdn1.weebly.com/weebly/images/common/weebly.js?1' ></script>
    <script type='text/javascript' src='http://cdn1.weebly.com/weebly/images/common/lightbox202.js?8' ></script>
    <script type='text/javascript' src='http://cdn1.weebly.com/weebly/libraries/flyout_menus.js?11'></script>
    <script type='text/javascript'><!--
      if (Prototype.Browser.IE) window.onload=initFlyouts; else document.observe('dom:loaded', initFlyouts);
      -->
    </script> 
  </head>

  <body class="weeblypage-index" >
    <div id="container">
      <div id="top">
        <div id="header" class="weebly_header">
          <div id="title">
            <span style="visibility:hidden;">CLOUDHAUS</span>
          </div><!-- header text -->
        </div>

        <div class="nav bl">
          <div class="nav2 br">
            <div id="navdiv">
              <ul id="navlist">
                <li id="active"><a href="/">Home</a></li>
                <li id='pg811928695624933099'><a href="/events">Events</a></li>
                <li id='pg531282649685063223'><a href="/gallery">Gallery</a></li>
                <li id='pg334385835587527032'><a href="/leadership">Leadership</a></li>
                <li id='pg302224951461178011'><a href="/bios">Bios</a></li>
                <li id='pg992960735367297134'><a href="/links">Links</a></li>
                <li id='pg662229316604799891'><a href="/contact-us">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div id="content">
          <div id="left">
            <%= yield %>

          </div>
        </div>

        <div class="footer tl">
          <div class="tr">
            <div class="br">
              <div class="bl">
                <div id="copyright">
                  <span id='weeblyFooter'>
                    <span class='weebly-footer'></span>
                    <script type='text/javascript'>
                      <!--
                      if (document.cookie.match(/(^|;)\s*is_mobile=1/)) {
                        document.write(
                        "&nbsp;&nbsp;&nbsp;&nbsp;" +
                          "<a href='?mobile'>Mobile Site</a>"
                      );
                      }
                      //-->
                    </script>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="bottom">
      </div>
    </div>
    <!-- Re-Add Google Analytics -->
  </body>
</html>